body {
  margin: 5;
  padding-top: 128px;
  font-family: Roboto, Arial, Hevletica;
  background: #f1f1f1;
}

/* Стили для общего оборачивающего контейнера */
.wrapper {
  width: 1665px;
  margin: 0 auto;
  font-size: 0;
}	

.wrapper, header, main, aside,
section, section div, aside div, footer {
  box-sizing: border-box;
}  

header, section, aside>div{
  background-color: #fff;
}

h1, footer p{
  text-align: center;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 24px;
  text-transform: uppercase;
}

header{
  height: 229px;
  padding-top: 85px;
}

h1, h2,
.section_title p,
.about_me_title,
.aside_title,
footer p{
  font-weight: bold;
}

h1, h2,
.about_me_title, footer p,
.content_img p, .about_me_img p,
.popular_post_img_1 p,
.popular_post_img_2 p,
.popular_post_img_3 p,
{
  margin: 0px;
}

main{
  width: 1250px;
  margin-right: 20px;
}

aside{
 width: 395px;
}

main, aside {
  font-size: 16px;
  display:inline-block;
  height: 960px;
  vertical-align: bottom;
}

main section,
.about_me, .popular_post,
.follow_me{
  margin-top: 20px;
  padding: 40px 20px 20px 20 px;
}

section{
  height: 449px;
}

.section_title p{
  font-size: 12px;
  margin: 23px 0px;
}

.content_img_1,
.content_img_2{
  height: 200px;
  width:  300px;
}

.content_img_1{
  background: url("picture/1.jpg") no-repeat;
  background-size: cover;
}

.popular_post_img_1 p,
.popular_post_img_2 p,
.popular_post_img_3 p,
.about_me_img,
.content_img_1,
.content_img_2
{
  padding: 0px;
}

.wrapper footer {
  clear: both;
  margin-top: 20px;
  padding: 15px 0 12px 0;
  height: 45px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  border: #1b2325 solid 1px;
  background: #cedfd6;
}

